.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  position: relative;
  margin-bottom: 100px;
}

.question__header {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 70px;
}

.question__title {
  font-family: "Caravan", "Arial", sans-serif;
  font-size: 100pt;
  font-weight: 200;
  margin: 0;
}

.question__trait {
  width: 315px;
  height: 2px;
  background-color: black;
  margin: 80px 50px 0 0;
  z-index: 2;
}

.question__text {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 20pt;
  line-height: 37px;
  margin: 30px 0 0;
}

.question__form {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
}

.question__string {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  border: none;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 18pt;
  align-items: flex-start;
}

.question__label {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.question__text {
  font-family: "Romul", "Arial", sans-serif;
  font-size: 14pt;
  line-height: 37px;
  margin: 0;
}

.question__input {
  width: 100%;
  height: 55px;
  border-radius: 3.5px;
  border: .5px solid #ad9a8780;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 15pt;
  padding: 5px;
  box-sizing: border-box;
}

.question__button {
  width: 200px;
  height: 50px;
  background-color: #ad9a8780;
  font-family: "Romul", "Arial", sans-serif;
  font-size: 12pt;
  border: none;
  align-self: center;
  border-radius: 3.5px;
  cursor: pointer;
}

.question__unvisible {
  font-family: inherit;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.question__visible-radio {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}

.question__unvisible:checked + .question__visible-radio {
  background-color: gray;
}

.question__unvisible:disabled + .question__visible-radio {
  border: 1px solid grey;
  background-color: #fbf8ec;
}

.question__unvisible:disabled:checked+ .question__visible-radio {
  background-color: #fbf8ec;
}

.question__unvisible:focus + .question__visible-radio {
    box-shadow: 0 0 5px #f8f7f0;
}

.question__visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  cursor: pointer;
  background-color: #fff;
}

.question__unvisible:checked + .question__visible-checkbox {
  background-color: gray;
}

.question__unvisible:disabled + .question__visible-checkbox {
  border: 1px solid grey;
  background-color: #fbf8ec;
}

.question__unvisible:disabled:checked+ .question__visible-checkbox {
  background-color: #fbf8ec;
}

.question__unvisible:focus + .question__visible-checkbox {
    box-shadow: 0 0 5px #f8f7f0;
}

@media screen and (max-width: 1300px) {
  .question {
    margin-bottom: 70px;
  }

  .question__title {
    font-size: 70pt;
  }

  .question__trait {
    width: 230px;
    margin: 40px 50px 0 0;
  }

  .question__text {
    font-size: 15pt;
  }

  .question__form {
    margin: 50px 0 0;
  }

  .question__string {
    margin: 0 0 20px;
    font-size: 13pt;
    padding: 0;
  }

  .question__label {
    margin: 10px 0 0;
  }

  .question__input {
    margin-top: 7px;
  }
}

@media screen and (max-width: 800px) {
  .question {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .question__header {
    margin-bottom: 30px;
  }

  .question__title {
    font-size: 50pt;
  }

  .question__trait {
    width: 120px;
    height: 1px;
    margin: 40px 30px 0 0;
  }

  .question__text {
    font-size: 10pt;
    line-height: 23px;
  }

  .question__visible-radio {
    width: 10px;
    height: 10px;
  }

  .question__visible-checkbox {
    width: 10px;
    height: 10px;
  }

  .question__form {
    margin: 30px 0 0;
  }

  .question__string {
    margin: 0 0 15px;
    font-size: 10pt;
  }

  .question__label {
    margin: 10px 0 0 0;
  }

  .question__input {
    height: 35px;
    font-size: 10pt;
  }

  .question__button {
    width: 155px;
    height: 40px;
    font-size: 10pt;
  }
}